@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

#content {
    margin: 0 auto; 
    max-width:1600px;
    
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
    
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}




.card-img-top{
    width: 200px;
    height: 170px;
}

.card-img-carousel{
    width: 500px;
    height: 300px;
    
}

.carousel-item{
    width: 500px;
    height: 300px;
}

.card1{
    border: 1px solid #ccc;
    border-radius: 1em;
    width: auto;
    height: auto;
    float: right;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto 0 ;
    color: #0A369D;

}
.card2{
    border: 1px solid #ccc;
    border-radius: 1em;
    width: auto;
    height: auto;
    float: right;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto 0 ;
    color: #0A369D;
}
.card3{
    border: 1px solid #ccc;
    border-radius: 1em;
    width: auto;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto 0 ;
    color: #0A369D;
}
.card4{
    border: 1px solid #ccc;
    border-radius: 1em;
    width: 400px;
    height: auto;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto 0 ;
    color: #0A369D;
}

.content0{
    display: block;
    height: auto;
    width: 100%;
    grid-column-gap: 10%;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 200px;
    
}
.content1{
    display: flex;
    height: auto;
    width: 100%;
    grid-column-gap: 10%;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    
}
.content2{
    
    display: flex;
    height: auto;
    width: 100%;
    grid-column-gap: 10%;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 150px;
    
}


.home-grid {
    display: block;
    grid-template-columns: repeat(10, 1fr);
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-msg h3, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color:#d9c2a3;
    grid-column: 1/11;
    grid-row: 4/9; 
}
body {
    text-align: center;
    background-color: #fcfbfb; 
    margin: 0;
    padding: 0;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
}
header {
    background-color:#92B4F4;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #5E7CE2;
    color: black;
}


.card-img {
    border: 10px solid #d9c2a3;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}




footer a {
    text-decoration: none;
    color:black;
}
footer {
    background-color: #92B4F4;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.book:hover, .join:hover {
    background-color:white;;
    color: black;
    
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.home-title {
    color:#d9c2a3;
    margin-top: 10px;
}


.msg p {
    color:white;
    padding-top: 10px;
}
footer h3 a:hover {
    color:#d9c2a3;
    text-decoration: none;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer p a:hover {
    text-decoration: underline;
    
} 
footer a:hover {
    color:#d9c2a3;
}
footer .social img {
    padding-top: 15px;
}
